<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">{{ site.top_picks_title }} <i style="color:#21cddb" class="fa fa-globe"></i></h2>
                <p>{{ site.top_picks_subtext }}</p>
                <hr>
                {% if site.data-ad-client %}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- jekynewage -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="{{ site.data-ad-client }}"
                    data-ad-slot="{{ site.data-ad-slot }}"
                    data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="{% if site.top_picks_item_1_slug %}{{ site.top_picks_item_1_slug }}{% else %}{{ "#" }}{% endif %}" class="portfolio-box">
                    <img src="{{ "/img/top_picks/" | append: site.top_picks_item_1_img }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.top_picks_item_1_title }}
                            </div>
                            <div class="project-name">
                                {{ site.top_picks_item_1_subtext }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{% if site.top_picks_item_2_slug %}{{ site.top_picks_item_2_slug }}{% else %}{{ "#" }}{% endif %}" class="portfolio-box">
                    <img src="{{ "/img/top_picks/" | append: site.top_picks_item_2_img }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.top_picks_item_2_title }}
                            </div>
                            <div class="project-name">
                                {{ site.top_picks_item_2_subtext }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{% if site.top_picks_item_3_slug %}{{ site.top_picks_item_3_slug }}{% else %}{{ "#" }}{% endif %}" class="portfolio-box">
                    <img src="{{ "/img/top_picks/" | append: site.top_picks_item_3_img }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.top_picks_item_3_title }}
                            </div>
                            <div class="project-name">
                                {{ site.top_picks_item_3_subtext }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{% if site.top_picks_item_4_slug %}{{ site.top_picks_item_4_slug }}{% else %}{{ "#" }}{% endif %}" class="portfolio-box">
                    <img src="{{ "/img/top_picks/" | append: site.top_picks_item_4_img }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.top_picks_item_4_title }}
                            </div>
                            <div class="project-name">
                                {{ site.top_picks_item_4_subtext }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{% if site.top_picks_item_5_slug %}{{ site.top_picks_item_5_slug }}{% else %}{{ "#" }}{% endif %}" class="portfolio-box">
                    <img src="{{ "/img/top_picks/" | append: site.top_picks_item_5_img }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.top_picks_item_5_title }}
                            </div>
                            <div class="project-name">
                                {{ site.top_picks_item_5_subtext }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{% if site.top_picks_item_6_slug %}{{ site.top_picks_item_6_slug }}{% else %}{{ "#" }}{% endif %}" class="portfolio-box">
                    <img src="{{ "/img/top_picks/" | append: site.top_picks_item_6_img }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.top_picks_item_6_title }}
                            </div>
                            <div class="project-name">
                                {{ site.top_picks_item_6_subtext }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
